<h1>My Tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %>
      <% if task.completed == true %>
          <i class="fa-solid fa-square-check"></i>
      <% else %>
          <i class="fa-solid fa-square"></i>
      <% end %>
      <%= link_to destroy_task_path(task), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa-solid fa-trash-can"></i>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a task", "/tasks/new" %>
